<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        async function logoutUser() {
            const url = "http://localhost:8000/auth/logout";
            await fetch(
                url, {
                    method: 'POST', 
                }
            ).then(response => {
                if (response.status === 200 | response.status === 401) {
                    window.location.href = "/pages/login"
                }
            });
        }

        async function get_me() {
            const url = "http://localhost:8000/users/me";
            const token = "hYUjyWhWl2VrZsklI7Zf4lRH7cMZ3VOadWTYFVc96rI";

            await fetch(url, {
                method: 'GET',  // Используйте GET, так как вы хотите получить данные о пользователе
                headers: { 'Authorization': `Bearer ${token}` }
            }).then(async response => {
                if (response.status === 200) {
                    const userData = await response.json();
                    const usernameElement = document.getElementById('username');
                    if (usernameElement) {
                        usernameElement.textContent = userData.name;
                    }
                } else if (response.status === 401) {
                    // Обработка случая, когда пользователь не аутентифицирован
                    console.log('User not authenticated');
                }
            });
        }

        // Загрузка списка чатов при загрузке страницы
        window.onload = function () {
            get_me();
        }

    </script>
    {% block head %}{% endblock %}
    <title>МойДоктор</title>
</head>

<body>
    <nav class="mb-10 bg-green-400">
      <div class="flex justify-between items-center px-8 py-3 text-2xl text-white">
        <ul class="flex gap-x-5">
          <li><a href="/pages/chats">Мои чаты</a></li>
        </ul>
          <span id="username"></span>
          <button onclick="logoutUser()">Выйти</button>
      </div>
      <hr/>
    </nav>
    {% block content %}{% endblock %}
</body>

</html>