<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        async function logoutUser() {
            const url = "http://localhost:8000/auth/logout";

            await fetch(url, {
                method: 'POST',
            }).then(response => {
                if (response.status === 200 | response.status === 401) {
                    window.location.href = "/pages/login"
                }
            });
        }
    </script>
    {% block head %}{% endblock %}
    <title>МойДоктор</title>
</head>

<body>
    <nav class="mb-10 bg-green-400">
      <div class="flex justify-between items-center px-8 py-3 text-2xl text-white">
        <ul class="flex gap-x-5">
          <li><a href="/pages/chats">Мои чаты</a></li>
          <li><a href="/pages/chat">Чат №4</a></li>
        </ul>
        <button onclick="logoutUser()">Выйти</button>
      </div>
      <hr/>
    </nav>
    {% block content %}{% endblock %}
  </body>

</html>